.checkout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #e9ecee;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    font: 12px;
    padding: 20px;
    color:#535665;
    font-weight: bold;
}
.empty-cart > img {
    width: 400px;
    margin: 50px;
}

.empty-cart > span {
    font-weight: normal;
    opacity: .8;
}

.empty-cart > button {
    height: 40px;  
    background-color: #fc8019;
    color: white;
    text-transform: uppercase; 
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.checkout {
    /* max-width: 1400px;
    min-width: 1400px; */
    position: relative;
    margin: 0 210px;
    display: -ms-flexbox;
    display: flex;
    margin-top: 31px;
    margin-bottom: 150px;
}
.checkout-left-section {
    /* margin-right: 40px; */
    /* max-width: 1400px;
    min-width: 1000px; */
    flex: 1;
    position: relative;
    /* background-color: #fff; */
    /* margin-left: 25px; */
    /* width: 60%; */
}

.checkout-right-section {
    /* margin-right: 172px; */
    width: 400px;
    margin-left: 40px;
    margin-right: -10px;
}

.checkout-left-section:hover {
    position: relative;
}

.address-section {
    padding: 35px 40px 39px;
    background-color: #fff;
}

.payment-section {
    background-color: #fff;
    margin-top: 20px;
    padding: 35px 60px 39px;
}

.payment-section > span {
    color: #93959f;
    font-size: 20px;
    font-weight: bold;
}

.payment-section > .payment {
    margin-top: 20px;
}

.address-header {
    margin-left: 20px;
    margin-bottom: 40px;   
    font-size: 24px; 
}

.address-header > span {
    display: block;
    font-size: 20px;
    color: #7e808c;
    font-weight: 400;
    margin-bottom: 36px;
    margin-top: -10px;
}

.address-list {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

.address, .add-new-address {
    min-width: 200px;
}

.address:hover, .add-new-address:hover {
    box-shadow: 0 2px 8px #d4d5d9;
}

.address, .add-new-address {
    display: flex;
    border: 3px solid #e9e9eb;
    padding: 30px 20px;
    margin: 0 20px;
}

.address > .icon > img, .add-new-address > .icon > img {
    margin-top: 25px;
    margin-right: 20px;
    width: 20px;
}


.address > .description, .add-new-address > .description {
    display: flex;
    flex-direction: column;
}

.address > .description > div > button , .add-new-address > .description > button{
    /* margin-top: 40px; */
    background: #60b246;
    width: 150px;
    padding: 9px 0;
    color: #fff;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.add-new-address > .description > button {
    border: 1px solid #60b246;
    color: #60b246;
    background: #fff;
    margin-top: 20px;
}

.address > .description > .address-info , .add-new-address > .description > .address-info{
    color: #93959f;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    height: 54px;
    overflow: hidden;
    /* margin-bottom: 8px; */
}

.address > .description > .delivery-time {
    font-size: 14px;
    color: #282c3f;
    font-weight: bold;
}

.checkout-right-section > .top-section {
    min-height: 500px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.checkout-right-section > .bottom-section {
    min-height: 200px;
}
.checkout-right-section > .top-section, .checkout-right-section > .bottom-section {
    background-color: #fff;
    /* height: 1200px; */
}

.restraunt-info {
    display: flex;
    padding: 20px;
}

.restraunt-info > img {
    height: 50px;
}

.restraunt-info > div {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 0 10px;
}

.restraunt-info > div::after {
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    background: #282c3f;
    width: 40px;
    height: 2px;

}

.restraunt-info > div > span {
    font-size: 18px;
    font-weight: bold;
}
.restraunt-info > div > span:last-child {
    font-size: 16px;
    font-weight: 500;
    opacity: .7;
    padding-bottom: 10px;
}

.message {
    margin: 20px;
    padding: 16px 16px 16px 40px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 400;
    background-color: #f3efef;
    height: 100%;
}

.delivery-checkbox {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    border: 1px solid #a9abb2;
    padding: 5px 15px;
}

.delivery-checkbox > input {
    margin-right: 20px;
}

.delivery-checkbox > div {
    font-size: 16px;
}

.apply-coupon {
    border: 1px dashed #a9abb2;
    font-size: 20px;
    color: #535665;
    margin: 20px;
    padding: 15px;
    height: 55px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.apply-coupon > img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.bill-section {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 15px;
}

.item-total-section, .delivery-fee-section, .taxes-section {
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
    font: 16px;
    color: #686b78;
}

.taxes-section {
    border-top: 1px solid #e9e9eb;
    border-bottom: 2px solid #282c3f;
    height: 50px;
    padding: 10px 0;
    align-items: center;
    font-weight: 600;
}

.total-section {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    margin: 0 20px;
    padding: 15px;
}


.bottom-section > .policy-details {
    border: 1px solid #e9e9eb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.bottom-section > .policy-details > span {
    margin-top: 10px;
}

.bottom-section > .policy-details > span:first-child {
    margin-top: 10px;
    color: red;
}

.bottom-section > .policy-details > .cancellation-policy {
    color: red;
    cursor: pointer;
    border-bottom: 1px dotted #ec6148 !important;
    width: fit-content;
    font-weight: 600;
    padding: 10px 0;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}



