
.restraunt-card {
    position: relative;
}

.restraunt-card > .promoted {
    color: #fff;
    max-width: 50%;
    text-transform: uppercase;
    background: #3a3c41;
    border-color: #1e2023 #0000;
    padding: 5px 9px 4px;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 30px;
    left: 22px;
    z-index: 1;
}

.restraunt-card > .promoted::before {
    position: absolute;
    bottom: -9px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    left: 0;
    border-width: 9px 0 0 9px;
}

.card-item {
    width: 295px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid black; */
}

.card-item > img {
    width: 254px;
    height: 160px;
    margin-bottom: 15px;
}

.card-item > .quick-view {
    visibility: hidden;
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
    margin: auto;
    color: #5d8ed5;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border-top: 0.5px solid rgb(218, 212, 212);
}

.card-item:hover {
    border: 0.5px solid rgb(211, 208, 208);
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%)#eee;
}

.card-item:hover .quick-view {
    visibility: visible;
}

.card-item > .restraunt-name {
    margin-bottom: 10px;
    font-weight: bolder;
    color: #000;
}

.card-item > .restraunt-cuisines {
    margin-bottom: 20px;
    height: 40px;
    color: gray;
    font-size: smaller;
}

.card-item > .details {
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
    font-size: smaller;
    padding-bottom: 15px;
    color: #000;
}

.card-item > .details > .rating {
    background-color: rgb(236, 156, 5);
    padding: 0 5px;
    color: white;
    font-weight: 500;
}

.restraunt-list {
    display: flex;;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 210px;
}

.search-container {
    padding: 10px;
    margin: 0 210px;
}

.search-container > input:focus {
    outline: none;
}

.search-container > input {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    padding: 0 5px;
    font-weight: bold;
}

.search-container > .buttons {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

.search-container > .buttons > button {
    width: 100px;
    margin-right: 5px;
    background-color: #5d8ed5;
    color: white;
    padding: 10px;
    outline:none;
    border: none;
}
@media (max-width: 1041px) {

    .search-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    .search-container > .buttons {
        display: flex;
        justify-content: center;
    }
}